<%- include("../partials/form/header") %>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6 col-md-6 d-none d-md-block image-container">

        </div>
        <div class="col-lg-6 col-md-6 form-container">
            <div class="col-lg-8 col-md-12 col-sm-9 col-xs-12 form-box text-center">
                <div class="heading mb-4">
                    <h3> <i class="far fa-edit"></i> Edit Comment</h3>
                </div>
                <form action="/blogs/<%= blog_id %>/comments/<%= comment._id %>?_method=PUT" method="post">
                    <div class="form-input">
                        <span><i class="fab fa-blogger-b"></i></span>
                        <textarea name="comment[text]" cols="56" rows="6" placeholder="comment"
                            required><%= comment.text%></textarea>
                    </div>
                    <div class="mb-3">
                        <button class="btn" type="submit">Submit</button>
                    </div>
                    <div style="color: #777;"><a class="btn btn-success" href="/blogs">Go back</a></div>
            </div>
            </form>
        </div>
    </div>
</div>
</div>
<a href="/blogs/<%= blog_id %>">Go Back</a>

<%- include("../partials/footer") %>